@use "global" as *;

//////ハンバーガーメニューのドロワー（枠）設定///

.l-drower {
  opacity: 0;
  visibility: hidden;
  //これはドロワーの出てくるところが右指定
  transform: translateX(100%);
  transition: 0.7s;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(10, 30, 64, 0.9);
  width: 100vw;
  z-index: 1;
  overflow: auto;
  height: 100vh;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
 
}



.l-drower.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}


.l-drower__container {
  padding: rem(30) rem(20) rem(30) rem(20);
  background-color: $white;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
}


body.is-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}


// .c-header__mask {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   width: 100vw;
//   height: 100%;
//   background-color: white;
//   opacity: 0;
//   visibility: hidden;
//   transition: 0.3s;
// }

// .c-header__mask.active {
//   opacity: 1;
//   visibility: visible;
// }

// .c-global-navi__bottom {
//   text-align: center;
// }

// .c-global-navi__btn__wrapper {
//   width: 100%;
//   max-width: rem(345);
//   margin: 0 auto;
// }


